[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
funcsigs = "*"
pxml = "*"
green = "*"
coverage = "*"
colorama="*"
sphinx = "<2"
sphinx-click = "*"
sphinx-autobuild = "*"
singledispatch = "*"
backports-abc = "*"
"backports.shutil-get-terminal-size" = "*"
twine = "*"
tornado = "<7"

[packages]
args = "==0.1.0"
"beautifulsoup4" = "==4.6.0"
clint = "==0.5.1"
feedparser = "==5.2.1"
requests = "*"
semidbm = "==0.5.1"
six = "*"
click = "*"
"win10toast" = {version = "*", markers = "platform_system == 'Windows'"}
"pypiwin32" = {version = "*", markers = "platform_system == 'Windows'"}
"pywin32" = {version = "*", markers = "platform_system == 'Windows'"}
